<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nymph</title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/alpinejs@^3/dist/cdn.min.js" defer></script>
</head>

<body>
    <div class="relative bg-white">
        <div class="app-header">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div
                    class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
                    <div class="flex justify-start lg:w-0 lg:flex-1">
                        <a href="#/" class="router-link-active router-link-exact-active" aria-current="page">
                            <h1 class="flex-auto text-lg font-semibold text-gray-900 hidden sm:block">Nymph 寧芙</h1>
                            <p class="flex-auto text-md font-normal text-gray-500 hidden sm:block">寧芙</p>
                            <h1 class="flex-auto text-lg font-semibold text-gray-900 sm:hidden">Nymph</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-gray-50 py-10 lg:py-16">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
                    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                        <span class="block mb-3">歡迎蒞臨</span>
                        <span class="block text-blue-600">人工智慧時代</span>
                    </h2>
                </div>
                <p class="text-xl text-gray-500 max-w-7xl mx-auto px-4 py-3 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
                    建置中...
                </p>
            </div>
        </div>
        <footer class="mt-16 pb-16 text-sm leading-6">
            <div class="max-w-7xl mx-auto mt-5 divide-y divide-gray-200 px-4 sm:px-6 md:px-8 text-blue-500">
                <a class="mr-3" href="https://github.com/web-tech-tw/nymph">網站原始碼</a>
                <a class="mr-3" href="https://web-tech.tw/#/privacy">隱私權政策</a>
            </div>
            <div class="max-w-7xl mx-auto mt-5 divide-y divide-gray-200 px-4 sm:px-6 md:px-8">
                © 2024
                <a class="ml-1 hover:text-slate-900" href="https://web-tech.tw">
                    臺灣網際網路技術推廣組織 Taiwan Web Technology Promotion Organization (Web Tech TW)
                </a>
            </div>
        </footer>
    </div>
</body>
