name: Main workflow

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    name: Build and publish a Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-service:
    name: Deploy application as service
    needs: build-and-push-image
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via Webhook
        env:
          WEBHOOK_URL: ${{ vars.NYMPH_WEBHOOK_URL_PART_UP }}
          WEBHOOK_SECRET: ${{ secrets._WEBHOOK_SECRET_PART_UP }}
        run: |
          ENV_JSON='{"secret":"'$WEBHOOK_SECRET'"}'
          curl -X POST -H "Content-Type: application/json" -d "$ENV_JSON" "$WEBHOOK_URL"
